

/* ==========================TOP NAV===================== */

.top-wrap{
padding-top: 20px;
display: flex;
width: 100%;
align-items: center;
justify-content: center;  
}


.top-nav{
height: 54px;
max-width: 288px;
width: 100%;
border-radius: 20px;
border: 1px solid #ababab5b;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
background:#0d1c2bc2;
}


p{
  color: #fff;
  
}




.studio-img{
height: 30px;
max-width:30px;
width: 100%;
background-color: #03070b;
margin-left: 20px;
}



.s-tag{
color: #fff;
font-size: 0.8rem;
width: 100%;
}



/* =============================NAV SECTION========================= */

.navbar {
  padding-inline: 32px;
margin-top: 8px;
width:100%;
max-width:659px;
margin:8px auto;
display:flex;
justify-content:space-between;
align-items:center;
height:64px;
border:1px solid #ffffff40;
border-radius:50px;
background:transparent;
box-sizing:border-box;
position:sticky;
top:0;
z-index:999;
}




.navlinks {
display:flex;
align-items:center;
margin-left: -20px;
gap:20px;
list-style:none;
margin:0;
padding:0;
max-width: auto;
}



.logos {
width: clamp(28px, 5vw, 40px);
height: clamp(28px, 5vw, 40px);
border-radius: 50%;
margin-top: -10px;
object-fit: cover;
}



.logo {
margin-left: 0px;
margin-top: 10px;  
}



.con:hover .g-icon {
transform: translateY(-2px) rotate(-180deg);
}



.g-icon {
margin-left: 10px;
}



.con a {
display: flex;
}


.doc{
vertical-align: top;
}

.navlink {
margin:0;
padding:8px 0;
}




a {
text-decoration: none;
color: rgb(255, 254, 254);
font-size: clamp(0.875rem, 2vw, 0.875rem);
}



.navlink:hover a {
  color: #5aaaf9;
}



.droplinks {
margin-top: 5px;
background-color: var(--color-bg-primary);
position: absolute;
border-radius: 18px;
padding: 5px 0px;
display: none;
margin-left: -45px;
transition: all 0.3s ease;
}




.droplink {
list-style: none;
margin-bottom: 0px;
margin-right: 0px;
padding: 15px 15px;
cursor: pointer;
padding-right: 50px;
padding-left: 30px;
display: flex;
align-items: center;
justify-content: space-between;
}



.capcom{
border-bottom: 1px solid #c1c1c1ee;
}



.mcp{
border-bottom: 1px solid #c1c1c1ee;
}



.blog{
border-bottom: 1px solid #c1c1c1ee;
}




.dropimg {
height: 20px;
width: 20px;
margin-right: 10px;
}



.droplink {
color: rgb(252, 248, 248);
}




.droplink:hover {  
color: #4885c4;
}



.jack:hover .droplinks {
  display: block;
}




/* =========Search Bar====== */

.search-btn {
display:flex;
align-items:center;
justify-content:center;
gap:8px;
width:auto;
padding:8px 14px;
border-radius:20px;
border:1px solid #80808090;
background:#223a5358;
cursor:pointer;
}



.search-btn:hover {
border: 1px solid #fff;
}



.search-input {
width:100%;
height:42px;
border:2px solid #3d62f7;
border-radius:6px;
padding:0 16px;
box-sizing:border-box;
}



.s-head {
position:fixed;
inset:0;
background:rgba(36, 36, 36, 0.556);
display:flex;
justify-content:center;
align-items:flex-start;
padding-top:100px;
opacity:0;
visibility:hidden;
transition:.2s;
z-index:9999;
}



.s-head.active {
display: flex;
align-items: center;
justify-content: center;
opacity:1;
visibility:visible; 
}



.search-modal{
width:min(650px,90%);
background:#fffcfc;
border-radius:12px;
padding:20px;
box-shadow:0 10px 30px rgba(0,0,0,.4);
}



.search-input::placeholder{
padding-left:8px;
}


.keys {
display: flex;
justify-content: center;
align-items: center;
}

.ctrl {
background-color: #55778ca8;
margin-right: 3px;
padding-left: 1px;
padding-right: 3px;
color: #8d9aaa;
font-size: 12px;
}

.k {
background-color: #55778c98;
margin-right: 3px;
padding-left: 3px;
padding-right: 5px;
color: #8d9aaa;
font-size: 12px;
}

#search-icon {
height: 16px;
width: 16px;
vertical-align: top;
margin-top: -3px;
margin-right: 8px;
font-size: 20px;
color: #9eb3bf;
}





/*==========NAV--HERO Section================*/



.nav-hero-wrap{
width:100%;
margin: 0 auto;
margin-top: -8px;
min-height: 774px;
background: linear-gradient(135deg, rgba(21,32,43,1) 0%,rgba(3,22,43,1) 17%,rgba(27,46,94,1) 35%,rgba(8,59,114,1) 42%,rgba(9,44,86,1) 51%,rgba(9,41,73,1) 75%,rgba(8,55,81,1) 90%,rgba(9,30,51,1) 91%,rgba(6,22,40,1) 100%);
}



/*  =======================HERO SECTION================================*/

.hero {
  width:100%;
  margin-top:96px;
  margin-bottom: 256px;
  /*
  animation: appearxx linear;
  animation-timeline: view();
  animation-range: entry 0; 
  */
}



header {
width: 100%;
max-width:1216px;  
box-sizing: border-box;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}



.swipe{
font-size: clamp(4.5rem, 7vw, 5rem);
max-width: 312px;
max-height: 96px;
line-height: 100%;
font-weight: 400;
letter-spacing: -1;
margin: 16px 0;
background: linear-gradient(45deg, #66B2FF 60%,  #F4F9FF 30% );
background-clip: text;
color: transparent;
text-wrap: balance;
  
}



.h-logwrap{
   max-width: 472px;
    max-height: 128px;
max-height: 128px;
display: flex;
justify-content: space-evenly;
gap: 16px;
margin-bottom: 50px;
flex-wrap: wrap;
}



.bigswipe{
max-height: 128px;
max-width: 128px;
}


.left {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: 100%;
animation: appear1 2s linear;
}





.autoRotate {
animation: autoRotateAnimation;
animation-timeline: view();
}



.hero header .left {
margin-left: 0;
margin-right: 0;
}



.tag-line11{
text-align: center;
font-size: clamp(3.5rem, 3vw, 2rem);
color: #CFE3F0;
margin-bottom: 60px;
max-width: 896px;
max-height: 123px;
font-weight: 600;
text-wrap: balance;
text-align: center;
}



.tag-line2{
color: #BFBFBF;
font-size: clamp(0.9rem, 3vw, 1.5rem);
margin-bottom: 20px;
max-width: 1024px;
max-height: 60px;
font-weight: 600;
text-align: center;
}


.btns {
  margin-top: 50px;
  margin-bottom: 100px;
}




.btn {
  max-width: 192px;
  max-height: 64px;
  background-color:#5caeffe4;
  padding: 20px 40px;
  margin-right: 10px;
  border-radius: 30px;
  color:black;
  font-size: clamp(1rem, 4vw, 1.2rem);
  font-weight: 900;
   text-wrap: balance;
   border: 1px solid #0D1014;
}



.btn:hover { 
  background-color: #5caeff;
}





/* ==========================CAROUSEL VIDEO SLIDES SECTION======================*/

.ccc{
width:100%;
display: flex;
justify-content: center;
margin-bottom:0px;
height: 800px;
}




 .swiper {
width: 100%;
box-sizing: border-box;            
height:500px;
}




.swiper-slide {
text-align: center;
font-size: 18px;
background: #050505;
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
filter: saturate(2%);
object-fit: cover;
animation: slide 11s linear infinite alternate;
animation-play-state: running;
}



.swiper-slide:hover img {
transform: scale(1.08);
filter: brightness(80%);
}




.autoplay-progress {
position: absolute;
right: 16px;
bottom: 16px;
z-index: 10;
width: 48px;
height: 48px;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
color: var(--swiper-theme-color);
}




.autoplay-progress svg {
--progress: 0;
position: absolute;
left: 0;
top: 0px;
z-index: 10;
width: 100%;
height: 100%;
stroke-width: 4px;
stroke: var(--swiper-theme-color);
fill: none;
stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
stroke-dasharray: 125.6;
transform: rotate(-90deg);
}





/* ==========================QUOTE SECTION=============================== */

.quote{
width:100%;
display: flex;
justify-content: center;
margin-bottom: 256px;
margin-top: -44px;

}

.quote-wrap{
width: 100%;
max-width:1216px;  
padding-inline: 32px;
box-sizing: border-box;
margin: 0 auto;
min-height: 42px; 
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #ababab5b;
position: relative;
flex-wrap: wrap;
  
}

.q1{

  display: flex;
  font-weight: 400;
    max-width: 927px;
  min-height: 126px;
  color: #fff;
  margin-bottom: 25px;
font-size: clamp(1.5rem, 2vw, 1.5rem);
  width: 95%;
  text-align: left;
  padding: 0;
  line-height: 1.6;
}


.q2{
display: flex;
  font-weight: 400;
  font-size: 1.5rem;
    max-width: 927px;
  min-height: 126px;
  color: #fff;
  margin-bottom: 25px;
font-size: clamp(1rem, 2vw, 1.7rem);
  width: 95%;
  text-align: left;
  padding: 0;
  line-height: 1.6;
}

.cross{
  width: 100%;
  max-width: 927px;
  max-height: 42px;
  background: transparent;
  z-index: 999;
}


.pwrap {
    max-width: 927px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qtl{
  color: #fff;
  margin-bottom: -38px;
  position: absolute;
  left:1% ;
  top: %;
  right: ;
  bottom:99% ;
}

.qtr{
  color: #fff;
  margin-top: -33px;
    position: absolute;
  left:% ;
  top: %;
  right: 4%;
  bottom:0% ;

}




/*  =============================BUILD SECTION================================*/


.build{
width:100%;
margin: 0 auto;
margin-bottom: 256px;
margin-top: -31px;
    min-height: 600px;
}


.build-wrap{
width: 100%;
max-width:1216px;  
box-sizing: border-box;
margin: 0 auto;
min-height: 469px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center; 


}


.build-h{
display: flex;
align-items: center;
justify-content: center;
font-size: clamp(3rem, 2vw, 3rem);
font-weight: 500;
color: #fff;
margin-bottom: 48px;
width: 100%;
max-width: 1024px;
min-height: 53px;
text-align: center;

}

.build-sub{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
color:#BFBFBF;
font-size: clamp(1.5rem, 2vw, 1.5rem);
font-weight: 400;
margin-bottom: 24px;
text-align: center;
width: 100%;
max-width: 1024px;
min-height: 108px;
line-height: 1.6;

}


.text-link{
  text-decoration: none;
color: #5CAEFF;
font-size: 1.2rem;
}


.text-link:hover{
  text-decoration: underline;
}
.dev-wrap{
 max-width: 1126px;
  display: grid;
  grid-template-columns: repeat(4, 158px);
  justify-content: center;
  place-content: center;
  gap: 20px 20px;
   flex-wrap: wrap;
   padding-inline: 0;
  
}


.dev{
  min-height: 158px;
  max-width:158px;
  width: 100%;
  background-color: #191919;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   border: 1px solid #ababab5b;
   
}



.bl{
height: 64px;
width: 64px;
margin-bottom: 15px;


}

.logems{
display: flex;
align-items: center;
justify-content:center;
flex-wrap: wrap;
min-height: 128px;
max-width: 1216px;
 row-gap: 32px;
  column-gap: 32px;

}




/* =======================CARDS2 SECTION======================== */



.kards2{
width: 100%;
  margin: 0 auto;
margin-bottom: 256px;
}
  


.kard2-wrap{
width: 100%;
max-width:1216px;  
padding-inline: 32px;
box-sizing: border-box;
  margin: 0 auto;
    min-height: 589px;
display: flex;
 flex-wrap: wrap;
    display:grid;
    grid-template-columns:repeat(5, 1fr);
  place-content: center;
    gap:20px;

}

.boxx {
    width:100%;
   max-width: 192px;    
min-height: 192px;
 gap:20px;

    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:12px;
    background:#191919;
    border:1px solid #ffffff35;
    transition:.3s;
    cursor:pointer;

}

.boxx:hover {
  background-color: #1926315f;
  transition: all 0.3s ease;
}


.group2{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  gap: 32px;
padding: 32px;
margin-top: -20px;
  gap: 16px;
  max-width: 329px;
  min-height: 115px;
}




.pic-log {
  height: 64px;
  width: 64px;
  margin-top: 10px;
}

.kardp {
  display: flex;
  align-items: center;
  justify-content: center;
color:#fff;
max-width: 1024px;
min-height: 53px;
text-align:center;
font-weight:500;
font-size:clamp(3rem,5vw,3rem);
margin-bottom:24px;

}


.kardp-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
   margin:0 auto;
   max-width: 1024px;
}



.tip{
  max-width: 200px;
    font-size:clamp(1.1rem,2vw,1.3rem);
}



.iconme {
 font-size:clamp(2rem,5vw,2.75rem);
    color:#fff;
}







/* ====================EVA PROOF SECTION================= */
.eva{
width:100%;
margin: 0 auto;
min-height: 500px;
margin-bottom: 256px;
}



.eva-wrap{
width: 100%;
max-width:1216px;  
box-sizing: border-box;
margin: 0 auto;
min-height: 469px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 32px;
}




.eva-h{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1024px;
  min-height: 53px;
  margin-bottom: 48px;
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
}



.eva-sub{
display: flex;
align-items: center;
justify-content: center;
max-width: 1024px;
min-height: 36px;
margin-bottom: 0px;
text-align: center;
color: #BFBFBF;
font-size: clamp(1.5rem, 2vw, 1.5rem);
font-weight: 400;
margin-top: -32px;
}




.evas-wrap{
margin-inline: auto;
display: flex;
justify-content: center;
max-width: 1216px;
min-height: 256px;
gap: 24px 24px;
flex-wrap: wrap;
margin-top: -7px;

}




.evas{
width: 64px;
height: 64px;
}





/* BANNER SECTION===================== */


.banner{
width:100%;
margin: 0 auto;
margin-bottom: 256px;
}



.banner-wrap{
width: 100%;
max-width:1216px;  
padding-inline: 32px;
box-sizing: border-box;
margin: 0 auto;
min-height: 600px;
display: flex;
align-items: center;
justify-content: center;
gap: 32px;
}




.ban-tag-wrap{
max-width: 1024px;
min-height: 469px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
justify-content: center;
  margin: 0 auto;
  text-align: center;


}




.ban-h{
min-height: 53px;
max-width: 1024px;
text-align: center;
margin-top: 50px;
color: #fff;
font-size: clamp(3rem, 5vw, 3rem);
font-weight: 500;
margin:  auto;
margin-bottom: 78px;
display: flex;
}



.ban-sub{
font-size: clamp(1.5rem, 2vw, 1.5rem);
font-weight: 400;
color: #BFBFBF;
max-width: 1024px;
min-height: 110px;
text-align: center;
margin: auto;
margin-top: -30px;
margin-bottom: 24px;
}


.banleft{
background-color: #1c1b23;
max-width: 592px;
min-height: 608px;
border-radius: 30px;
padding-bottom: 50px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 32px;
}



.banleft:hover{
background: #202020f3;
transition: all .3s;
}


.ban-left-logo{
  max-height: 96px;
  max-width: 96px;
   margin-top: 24px;
}

.ban-tag1{
display: flex;
align-items: center;
justify-content: center;
 max-width: 526px;
min-height: 78px;
font-size: 1.4rem;
text-align: center;
}



.ban-left-pic{
  max-width: 526px;
  max-height: 304px;
  border-radius: 20px;
  border: 1px solid #616060ee;
}



.banright{
background-color: #1c1b23;
max-width: 592px;
min-height: 608px;
border-radius: 30px;
padding-bottom: 50px;
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 32px;
}



.banright:hover{
background: #202020f3;;
transition: all .3s;
}



.ban-right-logo{
  max-height: 96px;
  max-width: 96px;
   margin-top: 24px;
}



.ban-tag2{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 526px;
min-height: 78px;
font-size: 1.4rem;
text-align: center;


}



.ban-right-pic{
  max-width: 526px;
  max-height: 304px;
border-radius: 20px;
 border: 1px solid #616060ee;
}







/* =========================FAQ SECTION======================== */

.faq-conty {
width:100%;
margin: 0 auto;
min-height: 37.5rem;
margin-bottom: 256px;
/*
animation: appearxx linear;
animation-timeline: view();
animation-range: entry 0;
*/


}



.heady {
font-size: clamp(3rem, 5vw, 3rem);
font-weight: 500;
color: #ffffff;
margin-bottom: 48px;
margin-top: -7rem;
text-align: center;
}

.ques {
background-color:#26282B;
padding: 0.62rem 1.5rem;
font-size: 1.5rem;
display: flex;
justify-content: space-between;
cursor: pointer;
transition: all 0.3s ease;
}



.ques:hover {
  background-color:#0D1014;
}



.ans {
  max-height:0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}




.ans p {
  background-color: #5f5f5f;
  padding: 10px 25px;
  font-size: 1.25rem;
  border-top: 1px solid #03070b;

}



.faq.active .ans{
max-height: 31rem;  
}



.faqy {
color: #ffffff;
font-weight: 900;
}



.faq-list {
width: 100%;
max-width:1216px;  
box-sizing: border-box;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 5px;
}



.faqy.active {
transform: rotate(45deg);
}



.faqy{
transition: all .5s;
}




/* ====================CARDS SECTION====================== */
.kards{
width:100%;
margin: 0 auto;
margin-bottom: 256px;
margin-top: -195px;
}



.kards-wrap{
width: 100%;
max-width:1216px;  
padding-inline: 32px;
box-sizing: border-box;
margin: 0 auto;
min-height: 589px;
display: flex;
flex-wrap: wrap;
display:grid;
grid-template-columns:repeat(3, 1fr);
place-content: center;
gap:20px;
}



.box{
max-width: 395px;
gap:20px;
width:100%;
min-height:178px;
background:#191919;
border-radius:12px;
transition:.3s;
}



.box:hover{
background:#2a2a2a;
}



.pic-log{
width:clamp(40px,6vw,64px);
height:clamp(40px,6vw,64px);
flex-shrink:0;
}



.pan{
display: flex;
max-width: 100px;
width: 100%;
margin-bottom:12px;
font-size:clamp(1.1rem,2vw,1.3rem);
font-weight:600;
}



.group{
display: flex;  
padding: 32px;
margin-top: -20px;
gap: 16px;
max-width: 329px;
min-height: 115px;
}



.tophead{
max-width:900px;
margin:50 auto;
text-align:center;
font-size:clamp(3rem,5vw,3rem);
font-weight: 500;
color: #fff;
}



.topwrap {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-bottom: 48px;
}



.lowhead{
max-width:700px;
margin:0 auto;
text-align:center;
font-size: clamp(1.5rem, 2vw, 1.5rem);
font-weight: 400;
line-height:1.7;
color: #BFBFBF;
}



.lowrap {
width:100%;
max-width:1216px;
margin:auto;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
margin-bottom: 24px;
}




/* ===================SPONSOR SECTION======================== */

.spons{
width:100%;
margin: 0 auto;
min-height: auto;
margin-bottom: 256px;
padding-inline: 32px;
height: auto;
}




.spons-wrap{
width: 100%;
max-width:1216px;  
box-sizing: border-box;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
gap: 32px;
}



.spons-h{
height: 53px;
max-width: 1024px;
text-align: center;
margin-bottom: 22px;
color: #fff;
font-size: clamp(3rem, 5vw, 3rem);
font-weight: 500;
}



.spons-sub{
font-size: clamp(1.5rem, 2vw, 1.5rem);
font-weight: 400;
color: #BFBFBF;
margin-bottom: 30px;
max-width: 1024px;
min-height: 53px;
text-align: center;
flex-wrap: wrap;
margin-top: -30px;
}



.btn-wrap{
display: flex;
align-items: center;
justify-content: center;
max-width: 1521px;
min-height: 64px;

}


.sub-btn{
max-width: 1024px;
min-height: 160px;
display: flex;
flex-direction: column;
justify-content: center;
column-gap: 24px;
row-gap: 24px;


}


.spon-btn{
background-color:#5caeffe4;
padding: 10px 10px;
margin-right: 10px;
border-radius: 30px;
  min-height: 64px;
color:black;
font-size: clamp(0.7rem, 4vw, 1.2rem);
font-weight: 600;
text-wrap: balance;
border: 1px solid #0D1014;
margin-top: -105px;
}



.spon-btn:hover{
background-color:#5caeffa0;
}



.sponsy-wrap{
margin-inline: auto;
display: flex;
justify-content:center;
min-height: 256px;
max-width: 1216px;
gap: 32px;
flex-wrap: wrap;
margin-top: -54px;
}


.sponsy{
height: 64px;
width: 64px;
}




/* ================FOOTER===================== */

footer {
width:100%;
display: flex;
justify-content: center;
padding-inline: 32px;
margin: 0 auto;
/*
animation:appearxx linear;
animation-timeline:view();
animation-range:entry 0;
*/
}



.footer-wrap {
width: 100%;
max-width:1216px; 
min-height: 374px; 
margin: 0 auto;
box-sizing: border-box;
background: #191919;
border:1px solid #ffffff30;
border-radius:12px;
gap:50px;
}



.footer-links {
display:flex;
justify-content:space-between;
align-items:flex-start;
flex-wrap:wrap;
gap:20px;
margin-top: 25px;
margin-bottom: 25px;
}



.logo {
margin-left: 0;
padding-left: 0;
column-gap: 20px;
}



.footer-logo {
height: 40px;
width: 40px;
border-radius: 50%;
}



.docs {
display:flex;
flex-direction:column;
gap:12px;
min-width:150px;
padding:0;
}



.docs a:hover{
color:white;
text-decoration:underline;
}



.topic {
color:#fff;
font-weight:700;
margin-bottom:10px;
}



.logo-name {
color: white;
font-weight: 600;
margin-top: 20px;
margin-left: 0;
}



.logo-wrap {
display:flex;
flex-direction:column;
gap:15px;
min-width:180px;
}



.subs {
color: #191919;
margin-bottom: 7px;
}



.copy-subs {
color:#8f8f8f;
font-size: 14px;
line-height:1.6;
}






.copyright{
display:flex;
flex-direction: column;
justify-content:space-between;
flex-wrap:wrap;
font-size: clamp(1.2rem, 2vw, 1.2rem);
gap:3px;
border-top:1px solid #BFBFBF;
padding-top:5px;
}







/* MEDIA QUERIES */






/* Large phones */
@media (max-width: 640px) {


.navbar{
  justify-content: space-between;
  margin-bottom: 80px;
}
.navlinks {
   gap:14px;
margin-left: 0;
justify-content: space-around;
right: 0;
left: 0;
}




.logos{
  margin-right: 10px;
  margin-left: 0px;
}

/* Hero Section */


.hero{
margin-top:20px;
box-sizing: border-box;
margin-bottom: 40px;

}
.nav-hero-wrap{
height: auto;
padding-inline: 8px;
box-sizing: border-box;

}

header{

min-height: 700px;
}




.h-logwrap{
display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px 20px;
  margin-top: -200px;
  margin-bottom: 40px;
  max-width: 472px;
    max-height: 128px;
    flex-wrap: nowrap;
}


.bigswipe{
  transform: translateX(%);
  max-height: 96px;
  max-width: 96px;
}


.swipe{
font-size: clamp(3rem, 7vw, 3rem);
}


.tag-line11{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:flex-start;
 font-size: 2.5rem;
 font-weight: 400;
 max-width: 896px;
  margin-bottom: 0px; 
  line-height: 1;

}

.tag-line2{
  margin-top: 70px;
}


.btns{
  margin-top: 70px;
  margin-bottom: -25px;
}






/* Carousel Section */


  
.ccc{
margin-bottom: 0px;
box-sizing: border-box;
}


.swiper-slide img {
filter: saturate(100%);
}



/* Quote Section */


.quote{
  margin-top: -250px;
margin-bottom: 60px;
padding-inline: 16px;
box-sizing: border-box;
}


.quote-wrap{
min-height: 425px;
  

}


.q1{
  font-size: clamp(1.125rem, 2vw, 1.125rem);
font-weight: 400;
max-width: 347px;
height: auto;

}

.q2{
  font-size: clamp(1.125rem, 2vw, 1.125rem);
font-weight: 400;
max-width: 347px;
height: auto;

}

.heady{
  font-size: clamp(2.25rem, 5vw, 2.25rem);
  font-weight: 400;
}






/* Build section */
.build{
margin-top: -150px;
  margin-bottom: 50px;
    margin: 0 auto;

}

.build-wrap{
padding-inline: 16px;
box-sizing: border-box;


}


.bl{
height: 36px;
width: 36px;
margin-bottom: 15px;

}


.logems{

min-height: 128px;
  row-gap: 8px;
  column-gap: 18px;
}

.build-h{
  font-size: clamp(2.25rem, 5vw, 2.25rem);
font-weight: 500;
max-width: 508px;
}


.build-sub{
 font-size: clamp(1.125rem, 2vw, 1.125rem);
font-weight: 400; 
max-width: 508px;


}

.dev::nth-child() {
  grid-column: 2;
}




.dev-wrap{

 width: 100%;
max-width:1216px;  
box-sizing: border-box;
  margin: 0 auto;
    min-height: 589px;
display: flex;
 flex-wrap: wrap;
   display:grid;
    grid-template-columns:repeat(4, 1fr); 
  place-content: center;
    gap:20px;
    box-sizing:border-box;

}




.dev:nth-child(6),
.dev:nth-child(7){
 transform: translateX(0px);

}



/* Cards 2 Section */
.kards2{

box-sizing: border-box;
margin-bottom: 256px;
margin-top: 50px;

}

.kard2-wrap{
   grid-template-columns:repeat(4, 1fr);
   padding-inline: 16px;
  

}


.kardp{
font-size: clamp(2.25rem, 5vw, 2.25rem);
font-weight: 500;
  max-width: 508px;

}








/* Proof Section */


.eva{
  margin-bottom: 64px;
  margin-top: -180px;
  padding-inline: 16px;
box-sizing: border-box;

}


.eva-wrap{

min-height: auto;
}

.eva-h{
max-width: 1024px;
max-height: 53px;
font-size: clamp(2.25rem, 5vw, 2.25rem);
font-weight: 500;
}
.eva-sub{
font-size: clamp(1.125rem, 2vw, 1.125rem);
font-weight: 400;
max-width: 508px;

}

.evas{
width: 48px;
height: 48px;
}





/* Banner Section */

.banner{
  margin-top:0px;
  margin-bottom: 0px;
  padding-inline: 16px;
box-sizing: border-box;
}


.banner-wrap{
  gap: 32px;
  

}


.ban-h{
  font-size: clamp(2.25rem, 5vw, 2.25rem);
font-weight: 500;
margin-bottom: 48px;


}

.ban-sub{
 font-size: clamp(1.125rem, 5vw, 1.125rem);
font-weight: 400;
  margin-bottom:24px;
  
}



.banner-wrap{
padding-inline: 0;

}

.ban-tag1{

font-size: 1.2rem;


}


.ban-tag2{

font-size: 1.2rem;

}

 .ban-left-logo{
  margin-top: 24px;
 } 
 .ban-right-logo{
  margin-top: 24px;
 } 




/* FAQ */

.faq-conty{
  margin-top: 150px;
  padding-inline: 16px;
  margin-bottom: 256px;
  min-height: auto;
}

.ques{
padding:  0.62 1.5rem;
font-size: 1rem;

}



/* Cards section */

.kards{
padding-inline: 16px;
box-sizing: border-box;
height: 100%;
margin-bottom:50px;

}

.kards-wrap{
 grid-template-columns:repeat(2, 1fr);
  padding-inline: 16px;
 
}



.tophead{
  font-size: clamp(1.9rem, 5vw, 1.9rem);
  font-weight: 400;
  line-height: 1;
  height: auto;

}


.lowhead{
    font-size: clamp(1rem, 5vw, 1rem);

  line-height: 1;
}


.group{
  flex-direction: column;
}




/* Sponsor Section */

.spons{
  margin-bottom: 80px;
  padding-inline: 16px;
  min-height: auto;

}



.spons-h{
font-size: clamp(2.25rem, 5vw, 2.25rem);
font-weight: 500;

}

.spons-sub{
  font-size: clamp(0.875rem, 2vw, 0.875rem);
font-weight: 400;
margin-bottom: 35px;
min-height: 72px;
}

.spon-btn{
  min-height: 64px;
  padding-top: 10px;
}



.sponsy{
height: 48px;
width: 48px;
}




/* FOOTER SECTION */

footer{
  padding-inline: 16px;
}

.footer-wrap{
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  padding-inline: 16px;
  flex-wrap:wrap;
}

.footer-links{
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-left: -25px;
}

.topic{
  font-size:0.8rem
}


.subs{
  font-size:0.rem
}

.copyright{
font-size: clamp(0.5rem, 2vw, 0.5rem);

}




}























/* Mobile */
@media (max-width:480px){



.navbar{
  justify-content: center;
  margin-bottom: 80px;
   padding-inline: 0;
max-width: fit-content;
padding-inline: 16px;
}
.navlinks {
   gap:10px;
margin-left: 0;
justify-content: center;
right: 0;
left: 0;
}

.keys, .premium,.studio{
  display: none;
}


.search-btn {
    max-width: 35px;
  height: 35px;
  margin-left: 10px;
  border: 1px solid #80808090;
  border-radius: 50%;
  
}

.search-icon {
  
}

.logos{
  margin-right: 10px;
  margin-left: 0px;
}

/* Hero Section */


.hero{
margin-top:20px;
box-sizing: border-box;
margin-bottom: 40px;

}
.nav-hero-wrap{
height: auto;
padding-inline: 16px;
box-sizing: border-box;

}

header{

min-height: 700px;
}




.h-logwrap{
display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px 20px;
  margin-top: -200px;
  margin-bottom: 40px;
  max-width: 472px;
    max-height: 128px;
    flex-wrap: nowrap;
}


.bigswipe{
  transform: translateX(%);
  max-height: 96px;
  max-width: 96px;
}


.swipe{
font-size: clamp(3rem, 7vw, 3rem);
}


.tag-line11{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:flex-start;
 font-size: 2rem;
 font-weight: 400;
 max-width: 896px;
  margin-bottom: 0px; 
  line-height: 1;

}

.tag-line2{
  margin-top: 70px;
}


.btns{
  margin-top: 70px;
  margin-bottom: -25px;
}






/* Carousel Section */


  
.ccc{
margin-bottom: 0px;
box-sizing: border-box;
}


.swiper-slide img {
filter: saturate(100%);
}



/* Quote Section */


.quote{
  margin-top: -250px;
margin-bottom: 60px;
padding-inline: 16px;
box-sizing: border-box;
}


.quote-wrap{
min-height: 425px;
  

}


.q1{
  font-size: clamp(1.125rem, 2vw, 1.125rem);
font-weight: 400;
max-width: 347px;
height: auto;

}

.q2{
  font-size: clamp(1.125rem, 2vw, 1.125rem);
font-weight: 400;
max-width: 347px;
height: auto;

}

.heady{
  font-size: clamp(2.25rem, 5vw, 2.25rem);
  font-weight: 400;
}






/* Build section */
.build{
margin-top: -150px;
  margin-bottom: 50px;
    margin: 0 auto;

}

.build-wrap{
padding-inline: 16px;
box-sizing: border-box;


}


.bl{
height: 36px;
width: 36px;
margin-bottom: 15px;

}


.logems{

min-height: 128px;
  row-gap: 8px;
  column-gap: 18px;
}

.build-h{
  font-size: clamp(2.25rem, 5vw, 2.25rem);
font-weight: 500;
max-width: 508px;
}


.build-sub{
 font-size: clamp(1.125rem, 2vw, 1.125rem);
font-weight: 400; 
max-width: 508px;


}

.dev::nth-child() {
  grid-column: 2;
}




.dev-wrap{

 width: 100%;
max-width:1216px;  
box-sizing: border-box;
  margin: 0 auto;
    min-height: 589px;
display: flex;
 flex-wrap: wrap;
   display:grid;
    grid-template-columns:repeat(3, 1fr); 
  place-content: center;
    gap:20px;
    box-sizing:border-box;

}




.dev:nth-child(6),
.dev:nth-child(7){
 transform: translateX(0px);

}



/* Cards 2 Section */
.kards2{

box-sizing: border-box;
margin-bottom: 256px;
margin-top: 50px;

}

.kard2-wrap{
   grid-template-columns:repeat(2, 1fr);
   padding-inline: 16px;
  

}


.kardp{
font-size: clamp(2.25rem, 5vw, 2.25rem);
font-weight: 500;
  max-width: 508px;

}






/* Proof Section */


.eva{
  margin-bottom: 64px;
  margin-top: -180px;
  padding-inline: 16px;
box-sizing: border-box;

}


.eva-wrap{

min-height: auto;
}

.eva-h{
max-width: 1024px;
max-height: 53px;
font-size: clamp(2.25rem, 5vw, 2.25rem);
font-weight: 500;
}
.eva-sub{
font-size: clamp(1.125rem, 2vw, 1.125rem);
font-weight: 400;
max-width: 508px;

}

.evas{
width: 48px;
height: 48px;
}





/* Banner Section */

.banner{
  margin-top:0px;
  margin-bottom: 0px;
  padding-inline: 16px;
box-sizing: border-box;
}


.banner-wrap{
  flex-direction: column;
  gap: 32px;
  

}


.ban-h{
  font-size: clamp(2.25rem, 5vw, 2.25rem);
font-weight: 500;
margin-bottom: 48px;


}

.ban-sub{
 font-size: clamp(1.125rem, 5vw, 1.125rem);
font-weight: 400;
  margin-bottom: 24px;
  

}


.ban-tag1{

font-size: 1.2rem;


}


.ban-tag2{

font-size: 1.2rem;

}

 .ban-left-logo{
  margin-top: 24px;
 } 
 .ban-right-logo{
  margin-top: 24px;
 } 




/* FAQ */

.faq-conty{
  margin-top: 150px;
  padding-inline: 16px;
  margin-bottom: 256px;
  min-height: auto;
}

.ques{
padding:  0.62 1.5rem;
font-size: 1rem;

}



/* Cards section */

.kards{
padding-inline: 16px;
box-sizing: border-box;
height: 100%;
margin-bottom:50px;

}

.kards-wrap{
 grid-template-columns:repeat(2, 1fr);
  padding-inline: 16px;
 
}



.tophead{
  font-size: clamp(1.9rem, 5vw, 1.9rem);
  font-weight: 400;
  line-height: 1;
  height: auto;

}


.lowhead{
    font-size: clamp(1rem, 5vw, 1rem);

  line-height: 1;
}


.group{
  flex-direction: column;
}




/* Sponsor Section */

.spons{
  margin-bottom: 80px;
  padding-inline: 16px;
  min-height: auto;

}



.spons-h{
font-size: clamp(2.25rem, 5vw, 2.25rem);
font-weight: 500;

}

.spons-sub{
  font-size: clamp(0.875rem, 2vw, 0.875rem);
font-weight: 400;
margin-bottom: 35px;
min-height: 72px;
}

.spon-btn{
  min-height: 64px;
  padding-top: 10px;
}



.sponsy{
height: 48px;
width: 48px;
}




/* FOOTER SECTION */

footer{
  padding-inline: 16px;
}

.footer-wrap{
  flex-direction: colum;
  gap: 32px;
  align-items: center;
  justify-content: center;
  padding-inline: 16px;
  flex-wrap:wrap;
}

.footer-links{
  flex-direction: colum;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.topic{
  font-size:0.8rem
}


.subs{
  font-size:0.rem
}

.copyright{
font-size: clamp(0.5rem, 2vw, 0.5rem);

}


}















/* Tablets */
@media (max-width: 768px) {







  
}






/* Small laptops */
@media (max-width: 1024px) {

}





/* Desktops */
@media (max-width: 1280px) {

}






/* Large desktops */
@media (max-width: 1440px) {

}



























/* Animations */

@keyframes appearxx {
  from {
    opacity: 0;
    scale:0.5;
  }
  to {
    opacity: 1;
    scale:1;
  }
}




@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-100%);
  }

  150% {
    transform: translateX(-150%);
  }

  200% {
    transform: translateX(-200%);
  }

  250% {
    transform: translateX(0);
  }

}


@keyframes autoRotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





@view-transition {
  navigation: auto;
}

::view-transition-group(root){
animation-duration: 3s;
animation-timing-function: ease;

}

::view-transition-old(root){
  animation-name: slide-out;
}

::view-transition-new(root) {
  animation-name: slide-in;
}

@keyframes slide-out {
to{
  translate:-100vw;
}
 
}

@keyframes slide-in {
from{
  translate:100vw;
}
 
}
